In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('tmdb-movies.csv')
df.head(2)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [4]:
movies = df[['imdb_id', 'original_title', 'cast', 'director', 'keywords', 'overview', 'genres']]

In [5]:
movies.isnull().sum()

imdb_id             10
original_title       0
cast                76
director            44
keywords          1493
overview             4
genres              23
dtype: int64

In [6]:
movies.dropna(inplace=True, ignore_index=True)

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\1120210377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True, ignore_index=True)

In [7]:
movies.duplicated().sum()

np.int64(1)

In [8]:
movies.drop_duplicates(inplace=True, ignore_index=True)

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\3580720913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.drop_duplicates(inplace=True, ignore_index=True)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9302 entries, 0 to 9301
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         9302 non-null   object
 1   original_title  9302 non-null   object
 2   cast            9302 non-null   object
 3   director        9302 non-null   object
 4   keywords        9302 non-null   object
 5   overview        9302 non-null   object
 6   genres          9302 non-null   object
dtypes: object(7)
memory usage: 508.8+ KB

In [10]:
def convert(s):
    L = []
    for c in s.split("|"):
        L.append(c.replace(" ", "").lower())
    return L[:3]

In [11]:
movies['cast'] = movies['cast'].apply(convert)

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\2217188125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert)

In [12]:
movies['genres'] = movies['genres'].apply(convert)

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\1189516248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

In [13]:
movies['keywords'] = movies['keywords'].apply(convert)

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\3328512696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)

In [14]:
movies['director'] = movies['director'].apply(lambda x: [x.replace(" ", "").lower()])

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\1397833774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['director'] = movies['director'].apply(lambda x: [x.replace(" ", "").lower()])

In [15]:
movies['overview'] = movies['overview'].apply(lambda x: x.lower().split(" "))

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\3914863451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x: x.lower().split(" "))

In [128]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['cast'] + movies['director']

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\1456276680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['cast'] + movies['director']

In [129]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

C:\Users\deboj\AppData\Local\Temp\ipykernel_8588\2153568569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [130]:
movies_df = movies[['imdb_id', 'original_title', 'tags']]

In [131]:
movies_df.head(1)

,imdb_id,original_title,tags
0,tt0369610,Jurassic World,twenty-two years after the events of jurassic ...

In [132]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    max_features=10000,
    stop_words='english',
    ngram_range=(1,2)
)

vectors = tfidf.fit_transform(movies_df['tags'])

In [133]:
from sklearn.metrics.pairwise import cosine_similarity
def recommend(movie):
    idx = movies_df[movies_df['original_title'] == movie].index[0]
    sim = cosine_similarity(vectors[idx], vectors)
    top = sorted(list(enumerate(sim[0])), key=lambda x: x[1], reverse=True)[1:11]
    return [movies_df.iloc[i[0]].original_title for i in top]

In [134]:
recommend('Se7en')

['Kalifornia',
 'The Bone Collector',
 'Resurrection',
 'Insomnia',
 'Zodiac',
 'Along Came a Spider',
 'Faces in the Crowd',
 'The Poughkeepsie Tapes',
 'Citizen X',
 'Kiss the Girls']

In [135]:
recommend('Spider-Man')

['Spider-Man 3',
 'Spider-Man 2',
 'The Amazing Spider-Man 2',
 'Spider',
 "Charlotte's Web",
 'The Amazing Spider-Man',
 "Charlotte's Web",
 'Poison Ivy',
 'Kick-Ass',
 'Terri']

In [136]:
recommend('Batman')

['Batman Beyond: Return of the Joker',
 'Batman Unlimited: Monster Mayhem',
 'Batman & Robin',
 'The Dark Knight Rises',
 'Batman: Under the Red Hood',
 'Batman Returns',
 'The Batman vs Dracula',
 'DC Showcase: Catwoman',
 'Batman: Mystery of the Batwoman',
 'Batman Begins']

In [137]:
recommend('Titanic')

['Death Ship',
 'Titanic',
 'Ship of Fools',
 'Captain Phillips',
 'Ghost Ship',
 'Going Overboard',
 'Free Willy 3: The Rescue',
 'The Black Hole',
 '3-Headed Shark Attack',
 'Five Easy Pieces']

In [138]:
recommend('Shutter Island')

['Die FÃ¤lscher',
 'An Inspector Calls',
 "Schindler's List",
 'The Big Red One',
 'Glorious 39',
 'Father Goose',
 'Queen and Country',
 'The Thin Red Line',
 'Miracle at St. Anna',
 'Red Tails']

In [139]:
recommend('The Avengers')

['Avengers: Age of Ultron',
 'Marvel One-Shot: The Consultant',
 "Marvel One-Shot: A Funny Thing Happened on the Way to Thor's Hammer",
 'Brink!',
 'The Incredible Hulk',
 'Timecop',
 'The Day After Tomorrow',
 'The Losers',
 'TMNT',
 'Push']

In [140]:
recommend("Harry Potter and the Philosopher's Stone")

['Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Harry Potter and the Half-Blood Prince',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Order of the Phoenix',
 'Harry Potter and the Deathly Hallows: Part 1',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Sabrina the Teenage Witch',
 'The Dead Pool',
 'Turbo: A Power Rangers Movie']

In [141]:
recommend('Fight Club')

['Red Line',
 'Perfect',
 'The Curious Case of Benjamin Button',
 'Thin Ice',
 'The Illusionist',
 'The Hidden',
 'The Hard Way',
 'Elmer Gantry',
 'Julia',
 "What's Eating Gilbert Grape"]

In [142]:
recommend('Interstellar')

['Suburban Commando',
 'The Matrix',
 'About Time',
 'Stargate',
 'The Matrix Revolutions',
 'A.I. Artificial Intelligence',
 'Terminator Genisys',
 'Buzz Lightyear of Star Command: The Adventure Begins',
 'The Terminator',
 'Jabberwocky']

In [90]:
movies_df.head()

,imdb_id,original_title,tags
0,tt0369610,Jurassic World,twenty-two years after the events of jurassic ...
1,tt1392190,Mad Max: Fury Road,an apocalyptic story set in the furthest reach...
2,tt2908446,Insurgent,beatrice prior must confront her inner demons ...
3,tt2488496,Star Wars: The Force Awakens,thirty years after defeating the galactic empi...
4,tt2820852,Furious 7,deckard shaw seeks revenge against dominic tor...

In [32]:
import pickle
pickle.dump(movies_df, open('movies.pkl', 'wb'))